<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ComPort" value="Com4"/>
    <add key="TcpPort" value="28831"/>
    <add key="ConnectString" value="Server=127.0.0.1;Port=3306;Uid=carakan;Pwd=carakan28831;database=com"/>
    <add key="VComPort" value=""/>
    <add key="BaudRate" value="921600"/>
    <add key="Plot0" value="true"/>
    <add key="Plot1" value="true"/>
    <add key="Plot2" value="true"/>
    <add key="Plot3" value="true"/>
    <add key="Plot4" value="true"/>
    <add key="Plot5" value="true"/>
    <add key="Plot6" value="true"/>
    <add key="Plot7" value="true"/>
  </appSettings>
</configuration>